.column div {
  width: 30%;
  float: left;
  padding: 8px;
}

.column div img{
  width: auto;
  height: 200px;
}

body {
  font-family: sans-serif;
  background-color: #c4daff;
}

h1 {
  text-align: center;
  font-size: 60px;
}

div h3 {
  font-family: cursive;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .column {
    width: 100%;
    float: none;
  }
  body {
    background-color: white;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-color: #FF00FF;
  }
}
